body {
    font-family: Arial, sans-serif;
    color: rgb(213, 201, 221);
    background-color: rgb(40, 37, 66);
}

h2 {
    margin: 1em;
}

h3 {
    margin: 0.8em;
}

.interface{
    padding : 10px 30px 3px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.character {
    display: flex;
    align-items: center;
}

.character img {
    width: 100px;
    padding-top: 2px;
    border: 1px solid rgb(4, 4, 8);
    box-shadow: 2px 2px 12px rgb(68, 1, 107);
}

.stat-character{
    padding-left: 50px;
    width: 600px;
}


.fa-heart{
    padding-left: 4px;
}

.fa-sack-dollar{
    padding-top: 10px;
}

.money{
    font-size: 20px;
    padding-left: 10px;
}

.utils{
    font-size: 20px;
}

.utils i{
    padding: 10px;
}

/*-------------  Stats  ---------------*/
.fa-signal{
    font-size: 2.8rem;
    cursor: pointer;
}

.fa-signal:hover{
    color:  rgb(86, 82, 133);
}


.stats-window {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(40, 37, 66);
    width: 900px;
    max-height: 600px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.stats-content {
    /* Styles pour le contenu des statistiques */
}



.fa-xmark {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*-------------  Params  ---------------*/

.params{
    display: flex;
}



/*-------------Game-------------------*/

.game {
    border-top : 1px solid rgb(4, 4, 8);
    position: relative;
    text-align: center;
    padding: 5px;
    background-color: rgb(23, 21, 37);
}


.background-container img{
    height: 78vh;
}

.event-container{
    position: absolute;
    bottom: 21%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;

    color: black;
    border-radius: 5px;
}

img[alt="characters"]{
    width: 200px;
}



.dialogue {
    position: absolute;
    height:18%;
    width: 50%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    border-radius: 5px;
}

#dialogueOptions button {

  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  padding: 5px;
  margin: 3px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  background-color:  #b79fb9;
}
